<h1>Edit Applications</h1>
<div class="row">

<div class="col-md-8">
  <%= render 'form' %>

  <%= link_to 'Show Current Application', @registered_application %> |
  <%= link_to 'Back To All Registered Applications', registered_applications_path %>
