<br>
<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>An analytical platform.</p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Blocmetrics will deliver food and water to those in need, all over the world.</p>
    <small>Or help you track user activity...</small>
  </div>

  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Blocmetrics will deliver money and education to those in need, all over the world.</p>
    <small>Or help you track user activity...</small>
  </div>

  <div class="col-md-4">
    <h2>Makes pancakes</h2>
    <p>Blocmetrics will make promises it can not keep, all over the world.</p>
    <small>Or help you track user activity...</small>
  </div>
</div>
